@page
@model WebApp.Views.Home.Index

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Food order wizard with online payment">
	<meta name="author" content="UWS">
	<title>FoodBoard | Food delivery dashboard</title>
</head>

<body>

	<!-- Preloader -->
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	<!-- Preloader End -->

	<!-- Page -->
	<div id="page">
		<!-- Main -->
		<main>
			<!-- Hero -->
			<div class="hero-home bg-mockup hero-bottom-border">
				<div class="content">
					<h1 class="animated-element">FoodBoard</h1>
					<p class="animated-element">Food order wizard with online payment.</p>
					<a href="~/pay" class="btn-1 medium animated-element">Get Started</a>
					<a href="#orderFood" class="mouse-frame nice-scroll">
						<div class="mouse"></div>
					</a>
				</div>
			</div>
			<!-- Hero End -->

			<!-- Services -->
			<div class="services">
				<div class="container">
					<div class="main-title">
						<span><em></em></span>
						<h2 id="orderFood">Order Food</h2>
						<p>Choosing one of the payment methods</p>
					</div>
					<div class="row">
						<div class="col-lg-6 animated-element">
							<a href="~/pay" class="service-link">
								<div class="box text-center">
									<div class="icon d-flex align-items-end"><i class="icon icon-credit-card2"></i></div>
									<h3 class="service-title">Pay Online</h3>
									<p>and wait for delivery</p>
								</div>
							</a>
						</div>
						<div class="col-lg-6 animated-element">
							<a href="~/PayCash" class="service-link">
								<div class="box text-center">
									<div class="icon d-flex align-items-end"><i class="icon icon-wallet"></i></div>
									<h3 class="service-title">Pay with cash</h3>
									<p>when food is arrived to you</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Services End -->

			<div class="banner animated-element">
				<div class="container">
					<div class="content">
						<div class="mask">
							<div class="textbox">
								<small>FoodBoard Delivery</small>
								<h2>FoodBoard</h2>
								<p>Food order wizard with online payment.</p>
								<a href="~/faq" class="btn-1">FAQ</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!-- Main End -->
	</div>
	<!-- Page End -->
<!-- Back to top button -->
	<div id="toTop"><i class="icon icon-chevron-up"></i></div>
</body>
</html>